<!-- courses/home.html -->

{% extends '../base.html' %}

{% block content %}
  <h1 class="page-title">Courses</h1>

  <div class="course-list">
    {% for course in courses %}
      <div class="course-card">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
        <pre><a href="#"> {{ course.scholar.name }} </a></pre>
        {% if course.audio_files.all %}
          <p>Audio: 
            {% for audio_file in course.audio_files.all %}
              <a href="{{ audio_file.url }}">Download Audio {{ forloop.counter }}</a>
            {% endfor %}
          </p>
        {% endif %}
        {% if course.video_files.all %}
          <p>Video: 
            {% for video_file in course.video_files.all %}
              <a href="{{ video_file.url }}">Download Video {{ forloop.counter }}</a>
            {% endfor %}
          </p>
        {% endif %}
        {% if course.pdf_files.all %}
          <p>PDF: 
            {% for pdf_file in course.pdf_files.all %}
              <a href="{{ pdf_file.url }}">Download PDF {{ forloop.counter }}</a>
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

<style>
    /* CSS styles */
.page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(243, 243, 243) !important;
}

.course-list .course-card {
  padding: 20px;
  background-color: white !important;
  max-width: 400px;
  width: 100%;
  margin: 10px;
}

.course-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-card p {
  margin-bottom: 10px;
}

.course-card a {
  display: block;
  margin-bottom: 5px;
}

.course-card a:hover {
  text-decoration: underline;
}

</style>

{% endblock %}